{% extends "bootstrap.html" %}

{% block title %}Page Not Found{% endblock %}
{% block body %}
	<head>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Galdeano' rel='stylesheet'>
        <style>
            body{
                text-align: center;
            }
            h2{
                font-family: Galdeano;
            }
            img{
                max-width: 400px;
            }
        </style>
    </head>
    <body>
	    <h2>The page you're looking for either does not exist or is under construction :(</h2>
        <img src="{{url_for('static', filename='images/virus.png')}}" alt="virus">
    </body>
{% endblock %}